body{
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

h2{
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
  color: white;
}

.wrapper{
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0 ,0.2);
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */
.main-navigation{
  position: relative;
}

.main-navigation ul{
  list-style: none;
  padding: 0;
  font-size: 0;
}

.main-navigation li{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.main-navigation .offset{
  margin-right: 20%;
}

.main-navigation a{
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 20px 0;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.logo a{
  padding: 0;
}

/* MAIN INDEX */
.promo-block{
  background: #417DA2 url("../img/bg-main.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 510px;
  background-position: 50% 20%;
}

.promo-block:after{
  content: "";
  width: 100%;
  height: 57px;
  background: url("../img/bg-main-shape.png") no-repeat center;
  background-size: 100% 57px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.promo-block img{
  width: 458px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.reasons{

}

.reasons-header{
  width: 575px;
  background: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 30px;
}

.reasons-title{

}

.reasons-row{

}

.reasons-row-image, .reasons-row-image-invert{
  background: #81b3d2;
  color: #ffffff;
  height: 256px;
  overflow: hidden;
}

.reasons-row:after{
  content: "";
  display: table;
  clear: both;
}

.reason-image:before{
  content: "";
  position: relative;
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-image: url('../img/icon-sprite.png');
  background-repeat: no-repeat;
}

.reason-image-home:before{
  background-position: 0px -940px;
}

.reason-image-food:before{
  background-position: 0px -1090px;
}

.reason-image-gifts:before{
  background-position: 0px -1235px;
}

.reason{
  margin: 0px;
  width: 33.333333%;
  float: left;
  padding: 50px 6% 0 6%;
  text-align: center;
  box-sizing: border-box;
  text-align: center;
}

.reasons-row-image .reason p, .reasons-row-image-invert .reason p{
  color: #ffffff;
}

.reason-picture{
  float: right;
  width: 66.666666%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.reason-picture img{
  display: block;
}

.reasons-row-image-invert .reason-picture{
  float: left;
  width: 66.666666%;
}

.reasons-row-image-invert .reason{
  float: right;
  width: 33.333333%;
  padding-top: 50px;
  text-align: center;
}

.reason-title{
  margin: 0 auto;
  width: 150px;
}

.reason-number{
  padding: 25px 0px 25px 0px;
}

.reason p{
  width: 285px;
  color: #333333;
}

.reason-image .reason-title{
  color:  #000000;
  padding: 30px 0px 30px 0px;
}

.reason-image{
  float:left;
  padding-bottom: 80px;
  padding-top: 80px;
}


.reasons-row-gray{
  background: #eeeeee;
  color:#000000;
}

.reasons-row-gray .reason-title{
  color:  #000000;
}

.reasons-row-gray .reason{
  padding-bottom: 80px;
}

.search{
  height: 290px;
  text-align: center;
}

.search-title{
  font-size: 30px;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 30px;
}
.search p{
  margin: 0 auto;
  padding-bottom: 30px;
  width: 570px;
}

.search-btn{
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  height: 85px;
  width: 570px;
  color: #ffffff;
  background: #766357;
  margin: 0 auto;
  padding-top: 35px;
  outline: none;
}

.map{
  height: 560px;
  position:relative;
}

.map-canvas{
  background: #81b3d2 url("../img/bg-map.jpg") no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

.form{
  width: 570px;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  box-shadow: 0 0 15px 7px rgba(0, 1, 1, .15);
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.show-form {
  transform: translateX(-50%);
  opacity: 1;
}

.form .btn{
  display: inline-block;
  vertical-align: top;
  width: 455px;
  height: 58px;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background: #81b3d2;
  border: none;
  text-transform: uppercase;
}

.form .btn:hover {
  background: #669ec0;
}

/* MAIN HOTELS */
.filter{
  height: 215px;
  margin: 0 auto;
  padding: 0 6%;
  background: url("../img/bg-filter.jpg") no-repeat;
  color: #ffffff;
}

.filter-title{
  font-size: 16px;
}

.filter-columns{
  float:left;
  width: 24%;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 30px;
}

.filter-columns input[type="checkbox"] {
  display: none;
}

.filter-columns input[type="checkbox"] +label {
  display: block;
  position: relative;
  padding-left: 40px;
  word-wrap: break-word;
}

.filter-columns input[type="checkbox"] +label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/icon-sprite.png");
  width: 40px;
  height: 40px;
  background-position: 0px -265px;
}

.filter-columns input[type="checkbox"]:checked +label::before {
  width: 40px;
  height: 40px;
  background-position: 0px -354px;
}

.filter-price{
  float:right;
  width: 33.333333%;
  text-align: center;
}

.price-frame {
  border: 2px solid #ffffff;
  position: relative;
}

.price-frame label {
  width: 30%;
  display: inline-block;
  vertical-align: baseline;
}

.price-frame input {
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  width: 100%;
  outline: none;
}

.range-controls {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.scale {
  height: 2px;
  background: #757475;
  width: 317px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  cursor: pointer;
}

.range-controls .toggle:hover {
  background: #1c4f80;
}

.range-controls .min-toggle {}
.range-controls .max-toggle {
  left: 252px;
}

.filter-price button{
  border: 2px solid #fff;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  min-width: 133px;
  text-transform: uppercase;
  margin-left: 95px;
  margin-right: 95px;
  background-color: transparent;
  outline: none;
}

.search-navigation{
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 6%;
}

.found{
  float: left;
  width: 15%;
  font-size: 21px;
  font-weight: 700;
}

.sorting{
  float: left;
  width: 60%;
}

.sorting-arrows{
  float: right;
}

.item{
  border-bottom: 1px solid #e5e5e5;
  padding: 30px 6%;
}

.item:after{
  content: "";
  display: table;
  clear: both;
}

.item-image{
  float: left;
  width: 135px;
  margin: 0px;
}

.item-title{
  color:#000000;
  margin: 0px;
  margin-bottom: 10px;
}

.item-content{
  margin: 0px 0px 0px 165px;
}

.item-content a{
  text-decoration: none;
}

.item-rate{
  float: right;
  width: 110px;
}

.button-column{
  display: inline-block;
  color: #333333;
}

.btn{
  display: block;
  background-color: #81b3d2;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  height: 22px;
  padding-top: 5px;
  text-align: center;
  margin-top: 10px; 
}

.btn-brown{
  background-color: #766357;
  width: 140px;
}



/* FOOTER */
.footer{
  text-align: center;
  padding: 30px 0;
  font-size: 0;
  text-decoration: none;
  background: #ffffff;
}

.map .footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  background: rgba(255, 255, 255, 0.9);
}

.hashtag{
  text-decoration: none;
  width: 33.3333333%;
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.social{
  width: 33.333333%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.social-btn {
  text-align: center;
  margin-right: 6px;
  display: inline-block;
  width: 47px;
  height: 49px;
  text-decoration: none;
  background: #81b3d2;
}

.social-btn:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 48px;
  background-image: url("../img/icon-sprite.png");
  background-repeat: no-repeat;
}

.tw:before {
  background-position: 0px -640px;
}

.fb:before {
  background-position: 0px -560px;
}

.yt:before {
  background-position: 0px -715px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.copyright{
  width: 33.333333%;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
 
}

.copyright a{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 150px;
  height: 80px;
  background-image: url("../img/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -840px;
}