body{
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;

  text-transform: uppercase;
    
  color: #333333; 
  margin: -15px 0;
}

h1{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

h2{
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;

  color: white;
}

.wrapper{
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 -5px 15px 0 rgba(0, 0, 0 ,0.2);
}

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

/* HEADER */
.main-header{
  position: relative;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

.main-navigation{
  width: 100%;
}

.main-navigation li {
  display: inline-block;
  width: 20%;
}

.main-navigation a {
  width: 100%;
  line-height: 55px;
  text-decoration: none;
}

.logo {
  position: absolute;
  z-index: 1;

  width: 138px;
  height: 70px;

  margin-left: -48%;
}

.offset{
  padding-right: 100px;
}

/* MAIN INDEX */
.promo-block{
  width: 100%;
}

.promo-block:after{

}

.reasons{

} 

.reasons-header{
  height: 150px;
  width: 575px;
  background: #ffffff;
  margin: 0 auto;
  text-align: center;
}

.reasons-title{

}

.reasons-row{

}

.reasons-row-image, .reasons-row-image-invert{
  background: #81b3d2;
  color: #ffffff;
  height: 256px;
}

.reasons-row:after{
  content: "";
  display: table;
  clear: both;
}

.reason{
  width: 33%;
  padding-top: 50px;
  margin: 0;
  text-align: center;
}

.reasons-row-image .reason{
  float: left;
  width: 33%;
  padding-top: 50px;
  margin: 0;
  text-align: center;
}

.reason-picture{
  float: right;
  width: 66,66666666%;
  margin: 0;
  padding: 0;
}

.reasons-row-image-invert .reason-picture{
  float: left;
  width: 66,66666666%;
  margin: 0px;
  padding: 0px;
}

.reasons-row-image-invert .reason{
  float: right;
  width: 33%;
  padding-top: 50px;
  margin: 0px;
  text-align: center;
}

.reason-title{
  width: 150px;
  margin: 0 auto;
}

.reason-number{
  padding: 25px 0px 25px 0px;
}

.reason p{
  width: 280px;
  margin: 0 auto;
}

.reason-image .reason-title{
  color:  #000000;
  padding: 30px 0px 30px 0px;
}

.reason-image{
  float:left;
  padding-bottom: 80px;
  width: 33%;
}

.reasons-row-gray{
  background: #eeeeee;
  color:#000000;
  display: inline-block;
  width:100%;
  margin-top: -5px;
}

.reasons-row-gray .reason-title{
  color:  #000000;
}

.reasons-row-gray .reason{
  float:left;
  padding-bottom: 80px;
}

.search{
  height: 290px;
  text-align: center;
  
}

.search-title{
  font-size: 21px;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 30px;
}
.search p{
  padding-bottom: 30px;
}

.search-btn{
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  height: 85px;
  width: 575px;
  color: #ffffff;
  background: #766357;
  margin: 0 auto;
  padding-top: 35px;
}

.map{
  background-image: url("../img/bg-map.jpg");
  height: 590px;
  width: 100%;
}

.form{
  width: 575px;
  height: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
}

.date{
  padding-top: 30px;
}

.guests{
  padding-top: 30px;
  padding-bottom: 50px;
}

.form .btn{
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  background: #81b3d2;
  color: #ffffff;
  width: 450px;
  height: 60px;
}

/* MAIN HOTELS */
.clearfix{
  content: "";
  display: table;
  clear: both;
}

.filter{
  height: 215px;
  width: 100%;
  margin: 0 auto;
  padding-left: 72px;
  background: url("../img/bg-filter.jpg") no-repeat;
  color: #ffffff;
  text-align: left;
}

.filter-title{
  font-size: 16px;
}

.filter-columns{
  float:left;
  width: 24%;
}

.filter-price{
  float:right;
  width: 45%;
  margin-right:70px; 
  text-align: center;
}

.price-frame{
  border: 1px solid white;
  width: 400px;
  margin: 0 auto;
}

.search-navigation{
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  height: 55px;
  padding-top:35px;
}

.found{
  float: left;
  width:15%;
  padding-left: 72px;
  font-size: 21px;
  font-weight: 700;
}

.sorting{
  float: left;
  width: 30%;
}

.sorting-arrows{
  float:right;
  margin-right: 70px;
}

.item{
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.item:after{
  content: "";
  display: table;
  clear: both;  
}

.item-image{
  float: left;
  width: 135px;
  margin-left: 70px;
}

.item-title{
  color:#000000;
}

.rating-number{
  float: right;
  width: 110px;
  margin-right: 70px;
}


/* FOOTER */
.footer{
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  margin-top: 90px;
  height: 100px;
  width: 100%;
}

.hashtag{
  text-decoration: none;
  width: 33%;
  float: left;
}

.social{
  width: 34%;
  float: left;
}

.copyright{
  width: 33%;
  float: left;
}